* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 80px;
    display: block;
    background-color: rgba(45, 45, 45, 0.421);
}

.inner_header {
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}


.logo_container {
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family:'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: 200;
}

.logo_container h1 span {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

#maserati_logo {
    scale: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.navigation {
    float: right;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation a:hover {
    background-color: rgba(129, 129, 129, 0.5);
    transition: 0.3s ease-out;
}

.navigation li {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child {
    padding-right: 0;
}

.navigation li a{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: linear-gradient(black, rgb(28, 28, 28));
    /* added black to gray gradient, can remove if not nice */
}

/* model */
.Model {
    width: 100%;
    height: 100vh; 
    margin-top: 80px; /* offset for fixed header */
    position: relative;
    background-color: grey; /* dark background */
    display: flex;
    justify-content: center;
    align-items: center;
}

#container3D canvas {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

/* Horizontal buttons at the middle bottom of model container */
.model-buttons {
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
    z-index: 10; /* above canvas */
}

/* Circular buttons */
.color-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* makes it circular */
    border: none;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.color-circle:hover {
    transform: scale(1.2);
    box-shadow: 0 0 8px rgba(255,255,255,0.6);
}

/* footer */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer-container {
    background-color: rgb(20, 20, 20);
    padding: 2rem 0 4rem 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer {
    width: 80%;
    height: 40vh;
    background-color: rgb(20, 20, 20);
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-top {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 2rem;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 1.5rem;
}

.footer-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h2 {
    margin-bottom: 2rem;
}

.footer-heading a {
    color: white;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-heading a:hover {
    color:rgb(174, 174, 174);
    transition: 0.3s ease-out;
}

.footer-email-form h2 {
    margin-bottom: 2rem;
}

#footer-email {
    width: 300px;
    height: 40px;
    border-radius: 4px; /* curve */
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

#footer-email::placeholder {
    color:rgb(178, 178, 178);
}

#footer-email-btn {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color:rgb(255, 255, 255);
    outline: none;
    border: none;
    font-size: 1rem;
}

#footer-email-btn:hover{
    cursor: pointer;
    background-color:rgb(174, 174, 174);
    transition: 0.3s ease-out;
}

.footer span {
    gap: 15px;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 1.5rem;
}

#engine-container { 
    width: 100%;
    height: 700px;
    position: relative;
    background: radial-gradient(circle, #222 0%, #000 100%);
    cursor: grab;
}

#engine-container canvas {
    outline: none;
}

.engine-overlay-text {
    position: absolute;
    top: 10%;
    left: 5%;
    pointer-events: none; /* Allows clicking "through" text to rotate model */
    color: white;
    z-index: 5;
}

.engine-overlay-text h2 span {
    color: #90adc9;
    font-family: 'Times New Roman', serif;
    font-size: 80px;
}