* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 80px;
    display: block;
    background-color: rgba(45, 45, 45, 0.421);
}

.inner_header {
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}


.logo_container {
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family:'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: 200;
}

.logo_container h1 span {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

#maserati_logo {
    scale: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.navigation {
    float: right;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation a:hover {
    background-color: rgba(129, 129, 129, 0.5);
    transition: 0.3s ease-out;
}

.navigation li {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child {
    padding-right: 0;
}

.navigation li a{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: linear-gradient(black, rgb(28, 28, 28));
    /* added black to gray gradient, can remove if not nice */
}

/* video */
#video {
    width: 100%; 
    height: auto; 
}

.Video-1 {
    position: relative; /* This "pins" the text to this container */
    width: 100%;        /* Or whatever width you prefer */
    display: inline-block; 
}

.Video-1-text {
    position: absolute;
    bottom: 30px;       /* Distance from the bottom */
    left: 50px;         /* Distance from the left */
    color: white;       /* Make sure it's visible over the video */
    font-size: 120px;    /* Adjust size as needed */
    z-index: 10;        /* Ensures text stays on top of the video */
}

/* image 1 */
.image-1 {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.image-1 img {
    height: 100vh;
    width: 100%;
    display: block;
}

.image-1-text {
    margin: 1rem 0;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: 1s ease;

    position: absolute;
    top: 60%;
    left: 50%;
    color: white;
    white-space: nowrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;
}

.image-1-text--visible {
    transform: translate(-50%, -260%);
    opacity: 1;
}

.image-1-text span{
    font-weight: lighter;
    font-size: 30px;
}

/* iamge 2 */
.image-2 {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.image-2 img {
    width: 100%;
    display: block;
}

.image-2-text {
    margin: 1rem 0;
    transform: translate(0%, -50%);
    opacity: 0;
    transition: 1s ease;

    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 170px;
    font-weight: bold;
    text-align: center;
}

.image-2-text--visible {
    transform: translate(-50%, -50%);
    opacity: 1;
}

.image-2-text span{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 90px;
}

/* comparison slider */
.wrapper {
    position: relative;
    height: 500px;
    width: 1000px;
    margin-left: 3%;
    margin-bottom: 5%;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

/* Container for holding images side by side */
.wrapper .images {
    height: 100%;
    width: 100%;
    display: flex;
}

/* Styling for the first image, covering the entire wrapper */
.wrapper .images .img-1 {
    height: 100%;
    width: 100%;
    background: url("./images/Maserati_OSunroof.png") no-repeat;
    background-size: cover; /* Ensure the image covers the entire area */
}

/* Styling for the second image, positioned on the left half with grayscale filter */
.wrapper .images .img-2 {
    position: absolute;
    height: 100%;
    width: 50%;
    background: url("./images/Maserati_CSunroof.png") no-repeat;
    background-size: cover; /* Ensure the image covers the entire area */
}

/* Slider container positioned at the top, full width, with high z-index */
.wrapper .slider {
    position: absolute;
    top: 0;
    width: 100%;
    height: 80%;
    z-index: 99;
}

/* Slider input styling, removing outline and appearance for custom styling */
.wrapper .slider input {
    width: 100%;
    outline: none;
    background: none;
    -webkit-appearance: none; /* Remove default slider appearance in WebKit browsers */
}

/* Custom styling for the slider thumb (draggable element) */
.slider input::-webkit-slider-thumb {
    height: 900px;
    width: 3px;
    background: none;
    -webkit-appearance: none; /* Remove default thumb appearance */
}

/* Line indicating draggable boundary within the slider */
.wrapper .slider .drag-line {
    width: 3px;
    height: 500px;
    position: relative;
    left: 49.85%; /* Center the drag line */
    pointer-events: none; /* Prevent mouse events from affecting this element */
}

/* Top and bottom background sections of the drag line */
.slider .drag-line::before,
.slider .drag-line::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 230px;
    background: #ffc74e;
}

/* Position the top background section */
.slider .drag-line::before {
    top: 0;
}

/* Position the bottom background section */
.slider .drag-line::after {
    bottom: 0;
}

/* Centered circular drag handle */
.slider .drag-line span {
    height: 42px;
    width: 42px;
    border: 3px solid #ffc74e;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

/* Arrow styling within the drag handle */
.slider .drag-line span::before,
.slider .drag-line span::after {
    position: absolute;
    content: "";
    top: 50%;
    border: 10px solid transparent; /* Arrow base is transparent */
    border-bottom-width: 0px;
    border-right-width: 0px;
    transform: translate(-50%, -50%) rotate(45deg); /* Rotate to form the arrow */
}

/* Left side arrow of the drag handle */
.slider .drag-line span::before {
    left: 40%;
    border-left-color: #4cacf1; /* White arrow on the left */
}

/* Right side arrow of the drag handle */
.slider .drag-line span::after {
    left: 60%;
    border-top-color: #4cacf1; /* White arrow on the right */
}

.slider {
    display: flex;
    align-items: center; /* vertically center the text with images */
    gap: 40px; /* space between images and text */
    margin: 50px 0;
}

.wrapper-text {
    color: white;
    margin-right: 5%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 32px;
    flex: 1; /* text takes right half */
}

.wrapper-text span {
    color: #90adc9;
    margin-right: 5%;
    font-family:'Times New Roman', Times, serif;
    font-size: 80px;
    flex: 1; /* text takes right half */
}

/* butterfly doors button */
.button-click {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 10;
    pointer-events: auto;
    gap: 50px;
    margin-top: 5%;
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 5%;
}

.button-click-text {
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 32px;
    flex: 1;
}

.button-click-text span {
    color: #90adc9;
    font-family:'Times New Roman', Times, serif;
    font-size: 80px;
}

.box {
    width: 900px;
    height: 600px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#second {
    display: none;
}

@keyframes fade-out {
    from { opacity: 1;}
    to { opacity: 0;}
}

@keyframes fade-in {
    from { opacity: 0;}
    to { opacity: 1;}
}

/* image 3 */

.image-3 {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.image-3 img {
    width: 100%;
    display: block;
}

.image-3-text {
    margin: 1rem 0;
    transform: translate(-150%, -150%);
    opacity: 0;
    transition: 1s ease;

    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    white-space: nowrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 90px;
    text-align: center;
}

.image-3-text--visible {
    transform: translate(-50%, -150%);
    opacity: 1;
}

.image-3-subtext-1 {
    margin: 1rem 0;
    transform: translate(-50%, -80%) scale(0);
    opacity: 0;
    transition: 1s cubic-bezier(0.34, 1.56, 0.64, 1), opacity 0.4s ease;

    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    white-space: nowrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 90px;
    text-align: center;
}

.image-3-subtext-1--visible {
    transform: translate(-50%, -80%) scale(1);
    opacity: 1;
}

.image-3-subtext-2 {
    position: relative;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -150%);
    color: rgba(129, 129, 129, 0.766);
    white-space: nowrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
}

/* specs column */
.specs {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 5%;
    overflow: hidden;
    box-sizing: border-box;
}

.specs h3 {
    color: #90adc9;
    width: 100%;
    font-family:'Times New Roman', Times, serif;
    font-size: 80px;
    margin-top: 3%;
    margin-bottom: 3%;
}

.column-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
}

.column {
    min-height: 500px;
    min-width: 250px;
    border: 1px solid;
    color: white; /* font colour */
    background-color: rgb(137, 134, 134);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center; /* horizontal centering */
    justify-content: center; /* vertical centering */
    text-align: center;
}

.specs-info {
    color: white;
    margin-left: 5%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 32px;
    flex: 1; /* text takes right half */

    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* final text */

.final-text {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
}

/* footer */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer-container {
    background-color: rgb(20, 20, 20);
    padding: 2rem 0 4rem 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer {
    width: 80%;
    height: 40vh;
    background-color: rgb(20, 20, 20);
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-top {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 2rem;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}

.footer-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h2 {
    margin-bottom: 2rem;
}

.footer-heading a {
    color: white;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-heading a:hover {
    color:rgb(174, 174, 174);
    transition: 0.3s ease-out;
}

.footer-email-form h2 {
    margin-bottom: 2rem;
}

#footer-email {
    width: 300px;
    height: 40px;
    border-radius: 4px; /* curve */
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

#footer-email::placeholder {
    color:rgb(178, 178, 178);
}

#footer-email-btn {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color:rgb(255, 255, 255);
    outline: none;
    border: none;
    font-size: 1rem;
}

#footer-email-btn:hover{
    cursor: pointer;
    background-color:rgb(174, 174, 174);
    transition: 0.3s ease-out;
}

.footer span {
    gap: 15px;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 1.5rem;
}